@import '~staticStyles/colors.scss';

.app-root {
  font-family: 'Roboto', sans-serif;
  color: $dark-text;
  height: 100%;
}

p {
  margin: 0px;
}

html {
  background-color: $neutral;
  min-height: 100%;
  height: 100%;
  min-width: 300px;
  min-height: 200px;
}

body {
  min-height: 100%;
  height: 100%;
  margin: 0px;
  margin-bottom: 0px;
  padding: 0px;

  .spacewrapper {
    min-height: 100%;
    margin-bottom: -90px;
  }

  .pseudofooter {
    min-height: 90px;
  }
}
