@import '~staticStyles/colors.scss';

.app-root {
  font-family: 'Roboto', sans-serif;
  background-color: $neutral;
  height: 100%;
}

p {
  margin: 0px;
}

html {
  min-height: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
