@import '~styles/colors.scss';

.footer {
  margin-bottom: 0px;
  height: 90px;
  min-width: 300px;
  background-color: $primary-dark;
  color: $neutral;

  h6 {
    margin: 0px;
    margin-top: 0px;
    padding-left: 35px;
    a {
      color: $neutral;
    }
  }

  h4 {
    margin: 0px;
    padding-left: 35px;
  }

  .icon-links {
    padding-top: 10%;
    padding-left: 33px;
  }

  .important-link, .site-link, .icon-links, .site-links {
    opacity: 100;
    display: inline;
    color: $neutral;
    svg {
      padding-top: 0.75em;
    }
  }
}
