@import '~staticStyles/colors.scss';

.footer {
  margin-top: 2.5%;
  margin-bottom: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  min-height: 10%;
  position: absolute;
  background-color: $primary-dark;
  color: $neutral;

  h5 {
    margin: 0px;
    margin-top: 0.25%;
    margin-bottom: 1%;
    padding-left: 1.2%;
    a {
      color: $neutral;
    }
  }

  h3 {
    margin: 0px;
    padding-left: 1.2%;
  }

  .important-link, .site-link, .icon-links, .site-links {
    opacity: 100;
    display: inline;
    color: $neutral;

    svg {
      margin-top: 10px;
      margin-bottom: 5px;
      padding-left: 1%;
    }
  }
}
