:root {
  --primary: #f06292;
  --primary-dark: #006978;
  --primary-light: #56c8d8;

  --secondary: #0097a7;
  --secondary-dark: #ba2d65;
  --secondary-light: #ff94c2;

  --dark-text: black;
  --light-text: white;

  --neutral: #eceff1;
}

$primary: var(--primary);
$primary-dark: var(--primary-dark);
$primary-light: var(--primary-light);

$secondary: var(--secondary);
$secondary-dark: var(--secondary-dark);
$secondary-light: var(--secondary-light);

$dark-text: var(--dark-text);
$light-text: var(--light-text);

$neutral: var(--neutral);
